[user]
	name = Carlos Quinones
	email = cquinones100@gmail.com
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[init]
	templateDir = /Users/carlos.quinones/.git-templates
[core]
	excludesfile = /Users/carlos.quinones/.gitignore
	editor = code --wait
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
		side-by-side = true
		line-numbers = true
		hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

